<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="main.min.css" media="screen" title="no title" charset="utf-8">
  <title>{{title}}</title>
  <script>
    window.__STATE__ = {
      email: '{{{email}}}'
    }
  </script>
</head>
<body>
  <div id="container">
    <div id="page">
      <header>
        <section class="heading">
          <div class="brand-title">
            <a href="http://www.sfu.ca">
              <div class="branding">
                <h1>Simon Fraser University<br/>Engaging the World</h1>
              </div>
            </a>
            <div class="site-title">
              <h2><a href="http://www.sfu.ca/itservices">IT Services</a></h2>
            </div>
          </div>
        </section>
      </header>
      <div class="header-divider"></div>
      <div id="page-content">
        {{{body}}}
        <footer>
          <div id="quote"></div>
          <p style="margin:30px 0 0 0">Made with ♥ by gnb.<p>
        </footer>
      </div>
    </div>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>
